.AllContacts {
  font-family: 'Nunito', sans-serif;
}

.AllHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 80px 0 80px;
}

.AllTitle {
  font-size: 60px;
  font-weight: 700;
  color: #2AABE2;
}

.SearchWrap {
  display: flex;
}

.Search {
  width: 300px;
  height: 50px;
  background: transparent;
  font-family: 'Nunito', sans-serif;
  text-indent: 20px;
  color: white;
  border: 2px solid #2AABE2;
  border-right: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  outline: none;
}

.SearchButton {
  width: 80px;
  background: transparent;
  color: white;
  font-size: 35px;
  border: 2px solid #2AABE2;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
  outline: none;
}

.SearchButton:hover {
  background: #2AABE2;
}

.Mag {
  transform: rotate(-45deg);
}

.AllWrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 50px;
}

.SingleWrap {
  width: 90%;
  border: 2px solid #2AABE2;
  border-radius: 20px;
  padding-left: 50px;
}

.SingleTitle {
  height: 100px;
  font-size: 40px;
  font-weight: 700;
  color: white;
  padding-top: 30px;
}

.InnerWrap {
  display: flex;
  flex-wrap: wrap;
}

.Card {
  width: 300px;
  height: 350px;
  color: gray;
  border: 2px solid gray;
  border-radius: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 10px;
  opacity: 0.5;
  margin: 0 40px 40px 0;
}

.Card:hover {
  border-color: #2AABE2;
  color: #2AABE2;
  opacity: 1;
  cursor: pointer;
}

.Card span {
  font-style: italic;
}

.Plus {
  width: 50px;
  height: 50px;
  position: relative;
  bottom: 140px; right: 15px;
  font-size: 30px;
  color: #2AABE2;
  border: 2px solid #2AABE2;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}