.AllContacts {
  font-family: 'Nunito', sans-serif;
}

.AllHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 60px 20px 65px;
}

.WrapTitle {
  display: flex;
}

.AllTitle {
  font-size: 55px;
  font-weight: 700;
  color: white;
  padding-right: 30px;
  opacity: 0.3;
  cursor: pointer;
}

.On {
  color: #2AABE2;
  opacity: 1;
}

.SearchWrap {
  display: flex;
  padding-right: 5px;
}

.Search {
  width: 300px;
  height: 50px;
  background: transparent;
  font-family: 'Nunito', sans-serif;
  text-indent: 20px;
  color: white;
  border: 2px solid #2AABE2;
  border-right: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: none;
}

.Search:disabled {
  border: 2px solid white;
  border-right: none;
  opacity: 0.4;
}

.SearchButton {
  width: 80px;
  background: transparent;
  color: white;
  font-size: 35px;
  border: 2px solid #2AABE2;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.SearchButton:disabled {
  border-color: white;
  opacity: 0.4;
}

.Mag {
  transform: rotate(-45deg);
}

.AllWrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.SingleWrap {
  width: 90%;
  border: 2px solid #2AABE2;
  border-radius: 5px;
  padding: 0 0 50px 100px;
  margin-bottom: 50px;
}

.SingleTitle {
  height: 100px;
  padding-top: 30px;
}

.TitleLink {
  font-size: 40px;
  font-weight: 700;
  color: white;
}

.SingleTitle:hover {
  color: #2AABE2;
}

/* Mobile View */

@media(max-width: 800px) {
  .AllHeader {
    flex-direction: column;
    padding: 70px 0 20px 0;
  }

  .WrapTitle {
    padding-left: 30px;
  }

  .AllTitle {
    font-size: 32px;
    font-weight: 700;
    color: white;
    opacity: 0.3;
    cursor: pointer;
  }

  .On {
    color: #2AABE2;
    opacity: 1;
  }

  .SearchWrap {
    padding: 20px 0 0 0;
  }

  .Search {
    width: 250px;
    height: 50px;
  }
  
  .SingleWrap {
    width: 90%;
    border: 2px solid #2AABE2;
    border-radius: 5px;
    padding: 0 0 50px 0px;
    margin: 10px;
  }
  
  .SingleTitle {
    text-align: center;
    height: 100px;
    padding-top: 30px;
  }

  .AllWrap {
    padding-right: 5px;
  }
}

@media(min-width: 600px) and (max-width: 800px) {
  .AllHeader {
    flex-direction: row;
    padding: 70px 50px 20px 0;
  }

  .WrapTitle {
    padding-top: 20px;
  }

  .Search {
    width: 200px;
    height: 50px;
  }

  .AllWrap {
    padding-right: 10px;
  }
}