.ui.cards>.card {
  height: 480px;
}

.ui.card, .ui.cards>.card {
  border-radius: 0px;
}

.fa {
  padding-left: 15px;
  padding-right: 5px;
}

.ui.fluid.dropdown {
  padding: 10px;
  margin: 15px 0px 15px 0px;
  border: 1px gray solid;
}

.KardInput {
  width: 258px;
}

.Notes {
  overflow-y: scroll;
  height: 100px;
}

.Notes p {
  padding-bottom: 10px;
}

.CardDescription {
  display: flex;
  justify-content: center;
}

/* .ui.mini.modal {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  transition: none !important;
} */