@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');

.profile_wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.form {
    width: 30%;
    color: white;
    font-size: 20px;
    margin-top: 5em; 
}
.rendered_url {
    display: flex;
    height: 30vh;
    width: 30%;
    border: 2px solid red;
    color: white;
    font-size: 20px;
}
.form_sub {
    font-size: 16px;
    font-family: 'Architects Daughter', cursive;
}
.bit {
    color: yellow;
}
.bit:hover {
    color: #4795E9;
}