@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

.profile_wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.form {
    width: 30%;
    color: white;
    font-size: 20px;
    margin-top: 5em; 
}
.rendered_url {
    display: flex;
    height: 45vh;
    width: 45%;
    color: white;
    font-size: 20px;
}
.form_sub {
    font-size: 16px;
    font-family: 'Architects Daughter', cursive;
}
.bit {
    color: yellow;
}
.bit:hover {
    color: #4795E9;
}
#teach_header {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 28px;
    color: yellow;
}
.step_headers {
    font-size: 18px;
    font-weight: bold;
}
.para_steps {
    font-size: 16px;
    font-style: italic;
}