.Companies {
  width: 100%;
  padding-top: 40px;
}

.CompanyHeader {
  width: 100%;
  font-family: 'Nunito', sans-serif;
  font-size: 60px;
  font-weight: 700;
  color: #2AABE2;
  display: flex;
  justify-content: center;
}

.CompanySub {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.CompanyWrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.CompanyInput {
  width: 80%;
  height: 100px;
  font-family: 'Nunito', sans-serif;
  background-color: #2AABE2;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
}

.TableWrap {
  width: 80%;
}

/* Mobile View */
@media(max-width: 800px) {
  .CompanyHeader {
    padding-top: 30px;
    text-align: center;
    font-size: 40px;
  }

  .CompanyInput {
    flex-direction: column;

    width: 90%;
    height: 300px;
    font-family: 'Nunito', sans-serif;
    background-color: #2AABE2;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
  }

  .TableWrap {
    width: 90%;
  }

  /* Mobile Table Styles */

  /* All Rows */
  .ui.table tbody tr {
    font-size: 0px;
    border-top: 2px solid #28AAE2;
  }

  .ui.table thead tr>th {
    text-align: center;
  }

  .RowFill {
    display: flex;
    justify-content: center;
    padding-right: 30px;
    margin: 0;
  }

  .Lnk {
    color: white;
    font-size: 25px;
  }

  .Comp {
    color: #2AABE2;
    font-size: 25px;
  }
}

/* Desktop Table Styles */
.ui.table {
  background: transparent;
  border: 2px solid #2AABE2;
}

.ui.table thead tr>th {
  background: transparent;
  font-size: 35px;
  color: #2AABE2;
  border-bottom: 2px solid #2AABE2;
  padding: 20px 0 20px 30px;
}

/* Odd Rows */
.ui.table tbody tr {
  background: transparent;
}

/* Even Rows */
.ui.table tbody {
  background: transparent;  
}

/* Single Row & Column */
.ui.table tbody tr>td {
  padding: 0;
  margin: 0;
}

.ui.table tbody tr>td:hover {
  background: #2AABE2;
}

/* All Rows */
.ui.table tbody td {
  height: 60px;
}

/* Row Links */
.RowFill {
  width: 100%;
  height: 100%;
  font-size: 22px;
  font-weight: 700;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.RowFill:hover {
  color: black;
  cursor: pointer;
}