.Companies {
  width: 100%;
  padding-top: 100px;
}

.CompanyHeader {
  width: 100%;
  font-family: 'Nunito', sans-serif;
  font-size: 60px;
  font-weight: 700;
  color: #2AABE2;
  display: flex;
  justify-content: center;
}

.CompanySub {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.CompanyWrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.CompanyInput {
  width: 80%;
  height: 100px;
  font-family: 'Nunito', sans-serif;
  background-color: #2AABE2;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
}

.TableWrap {
  width: 80%;
}

/* Mobile View */
@media(max-width: 800px) {
  .CompanyHeader {
    text-align: center;
    font-size: 40px;
  }

  .CompanyInput {
    flex-direction: column;

    width: 90%;
    height: 300px;
    font-family: 'Nunito', sans-serif;
    background-color: #2AABE2;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
  }

  .TableWrap {
    width: 90%;
  }

  /* All Rows */
  .ui.table tbody tr {
    border-top: 2px solid #28AAE2;
  }
}

/* Table Styles */
/* .ui.table {
  width: 100%;
  background: transparent;
  border: 2px solid #2AABE2;
}

.ui.table thead tr>th {
  width: 15%;
  background: transparent;
  font-size: 40px;
  color: #2AABE2;
  border-bottom: 2px solid #2AABE2;
  padding: 20px 0 20px 30px;
} */

/* Odd Rows */
/* .ui.table tbody tr {
  background: transparent;
} */

/* Even Rows */
/* .ui.table tbody {
  background: transparent;  
} */

/* Single Row & Column */
/* .ui.table tbody tr>td {
  padding: 0;
  margin: 0;
}

.ui.table tbody tr>td:hover {
  background: #2AABE2;
} */

/* All Rows */
/* .ui.table tbody td {
  height: 80px;
} */

/* Row Links */
/* .RowFill {
  width: 100%;
  height: 100%;
  font-size: 25px;
  font-weight: 700;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.RowFill:hover {
  color: black;
  cursor: pointer;
} */