.Companies {
  height: 100vh;
  overflow-y: scroll;
  /* display: flex; */
}

.CompanyInput {
  background-color: skyblue;
  /* margin: 20px;
  padding: 50px; */
}

.Companies {
  text-align: center;
}