.Navigation {
  width: 302px;    
  background: white;
}

.Container {
  position: fixed;
  height: 100vh;
  border-right: 2px solid #DADADA;
  /* background: white; */
}

.Logo {
  margin: 50px 0 45px 30px;
}

.Container img {
  width: 238px;
}

.Container a {
  height: 40px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  color: black;
  display: flex;
  align-items: center;
}

.Container a:hover {
  color: #2AABE2;
}

.Container span {
  color: #2AABE2;
}

.Container span:hover {
  color: black;
}

.Links {
  display: flex;
  flex-direction: column;
  padding-left: 45px;
}