@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text');

li {
  margin: 18px 0;
}
.dash_container {
  display: flex;
  flex-direction: column;
}
.portfolio_main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2em;
  margin-bottom: 3em;
  height: 20vh;
  width: 80%;
  border: 2px solid #2AAAE0;
}
.goal_renderings {
  height: 80vh;
  width: 45vw;
  border: 2px solid #2AAAE0;
  overflow: auto;
  margin: 4px;
}
.side_by {
  display: flex;
  justify-content: space-around;
}
.daily_header {
  display: flex;
  justify-content: space-around;
  font-size: 45px;
  color: white;
  font-weight: bold;
  margin-top: 10px;
}
.port_add {
  margin-bottom: 5px;
}
.jobs_applied {
  display: flex;
  justify-content: space-around;
  color: white;
  height: 80vh;
  width: 25vw;
  font-size: 30px;
  padding-top: 16px;
  border: 2px solid #2AAAE0;
}
.top_row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  font-family: 'Libre Barcode 39 Text', cursive;
  font-size: 4em;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  color: white;
}
.link_spans {
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  overflow: hidden;
  transition-duration: 0.3s;
  transition-property: color, background-color;
}
.link_spans:hover {
  cursor: pointer;
  background: hsl(0, 0%, 88%);
  text-decoration: none;
  color: #4795E9;
}
.list_rendered {
  background-color: #303030;
  color: white;
  padding: 4px;
}
.list {
  list-style-type: none;
}
.ui.vertical.segment.list_rendered {
  padding: 18px;
  font-size: 24px;
}
.empty_input {
  display: flex;
  padding-top: 10px;
  width: 80%;
  justify-content: flex-end;
  align-items: center;
}
.input_input {
  margin-right: 2em;
  height: 5vh;
}