.DashBoard {
  width: 80vw;
  height: 100vh;
  overflow-y: scroll;
  color: #2AABE2;
}

.Status {
  height: 100px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  margin: 30px 0 0 0;
  padding-right: 50px;
}

.DashHead {
  width: 100%;
  height: 100px;
  font-size: 50px;
  font-weight: 600;
  display: flex;
  align-items: center;
  padding-left: 50px;
  margin-bottom: 100px;
}

.DashBoard img {
  width: 200px;
  height: 200px;
  border: 3px solid #2AABE2;
  border-radius: 50%;
  margin-right: 50px;
}

.Portal {
  display: flex;
  justify-content: space-around;
}