.DashBoard {
  width: 80vw;
  height: 100vh;
  color: #2AABE2;
}

.Status {
  height: 100px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  margin: 30px 0 0 0;
  padding-right: 50px;
}

.DashHead {
  width: 100%;
  height: 100px;
  font-size: 50px;
  font-weight: 600;
  display: flex;
  align-items: center;
  padding-left: 50px;
  margin-bottom: 100px;
}

.DashBoard img {
  width: 200px;
  height: 200px;
  border: 3px solid #2AABE2;
  border-radius: 50%;
  margin-right: 50px;
}

.Portal {
  display: flex;
  justify-content: space-around;
}

.Goals{
  background-color: blue;
}

.Footer {
  width: 100%;
  height: 100px;
}
.goals_list {
  list-style-type: square;
  padding-left: 1rem;
}
.ui.button.goal_add_button {
  margin-left: 12em;
  color: blue;
  background-color: #15A336;
}
