li {
  margin: 18px 0;
}

.button.ui.animated.button {
  background-color: #2AAAE0;
}
.icons {
  color: #2AAAE0;
}
.drops {
  color: #CF521E
}
.port_circle {
  color: #2AAAE0;
  padding: 10px;
}
.circle_div {
  font-size: 7em;
}
.circle_div:hover {
  cursor: pointer;
}
.dash_main {
  display: flex;
  flex-direction: row;
}
.dash_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 4em;
}
.portfolio_main {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-between;
  height: 25vh;
  width: 25vw;
  background-color: white;
  border: 2px solid #2AAAE0;
}
.port_header {
  font-size: 25px;
  font-weight: bold;
  margin-top: 19px;
}
.card_dash {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 29vh;
  width: 25vw;
  background-color: white;
  border: 2px solid #2AAAE0;
}
.task_header {
  font-size: 25px;
  font-weight: bold;
  margin-top: 10px;
}
.daily_e {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 29vh;
  width: 25vw;
  background-color: white;
  border: 2px solid #2AAAE0;
}
.daily_header {
  font-size: 25px;
  font-weight: bold;
  margin-top: 10px;
}
.ui.input input {
  width: 124px;
}
.port_add {
  margin-bottom: 5px;
}