.App {
  display: flex;
}

.RoutesContainer {
  /* background: lightblue; */
  width: calc(100% - 302px);
}

@media(max-width: 800px) {
  .App {
    flex-direction: column;
    overflow-y: hidden;
  }

  .RoutesContainer {
    width: 100%;
    padding-top: 50px;
  }
}