.Contacts {
  font-family: 'Nunito', sans-serif;
}

.ContactsHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px 30px 100px;
}

.ContactsTitle {
  font-family: 'Nunito', sans-serif;
  font-size: 60px;
  font-weight: 700;
  color: #2AABE2;
}

.MainWrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.ContactsWrap {
  width: 90%;
  background: #2AABE2;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0 0 50px 100px;
}

.InnerTitle {
  width: 100%;
  height: 100px;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  color: white;
  padding: 30px 90px 0 0;
}

.CardWrap {
  perspective: 1000px;
  width: 293px;
  height: 482px;
  margin: 13.5px 7px 0 7px;
}

.Card {
  position: relative;
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
}

.Flip2Back {
  transition: 0.8s;
  transform: rotateY(180deg);
}

.Flip2Front {
  transition: 0.8s;
  transform: rotateY(0deg);
}

.CardFront, .CardBack {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.CardFront {
  transform: rotateY(0deg);
  width: 100%;
  height: 100%;

  color: black;
  background: white;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  opacity: 0.7;
  padding: 0 10px 10px 0;
}

.CardFront:hover {
  border-color: #2AABE2;
  color: #2AABE2;
  opacity: 1;
  cursor: pointer;
}

.CardSub {
  font-style: italic;
}

.Plus {
  width: 80px;
  height: 80px;
  position: relative;
  left: 5px;
  bottom: 190px;
  font-size: 50px;
  color: #2AABE2;
  border: 2px solid #2AABE2;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CardBack {
  transform: rotateY(180deg);
  width: 100%;
  height: 100%;
}

.InputWrap {
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Cancel {
  width: 18px;
  height: 18px;
  position: fixed;
  top: 0; right: 0;
  color: gray;
  border: 2px solid gray;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7px;
  opacity: 0.4;
}

.Cancel:hover {
  color: #2AABE2;
  border-color: #2AABE2;
  opacity: 1;
  cursor: pointer;
}

.InputBody {
  margin: 20px 0 20px 0;
}

.InputType {
  font-size: 20px;
  font-weight: bold;
  padding: 20px 0 10px 0;
}

/* Mobile View */
@media(max-width: 800px) {
  .ContactsHeader {
    padding: 80px 30px 30px 30px;
  }

  .ContactsWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 50px 0;
    margin-bottom: 0px;
  }

  .InnerTitle {
    display: flex;
    justify-content: center;
    padding-right: 0;
  }

  .ui.cards {
    justify-content: center;
  }
}