.Contacts {
  height: 100vh;
  overflow-y: scroll;
  text-align: center;
}

.ContactInput {
  background: #818181;
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.ui.huge.button, .ui.huge.buttons .button, .ui.huge.buttons{
  color: purple;
}